
<div class="container">
    <button id="menu-button">
        <i class="fa fa-bars"></i>
    </button>
    <nav id="nav">
        <section>
            <h2 class="dash"><i class="fa fa-tachometer-alt"></i> <span> Dashboard</span></h2>
        </section>
        <section>
            <ul>
                <h2>@ <span>EMAIL VERIFICATION</span></h2>
                <li><a href="/single"><i title="Single email verification" class="fa fa-user"></i> <span>Single email verification</span></a></li>
                <li><a href="/bulk"><i title="Multiple email verification" class="fa fa-envelope-open-text"></i> <span>Bulk email verification</span></a></li>
                <li><a href="result"><i title="Download verified results" class="fa fa-file-upload"></i> <span>Download verified results</span></a></li>
                <li><a href="/email-api"><i title="Email verification api" class="fa fa-plug"></i> <span>Email verification API</span></a></li>
            </ul>
        </section>
        <section>
            <ul>
                <h2><i class="fa fa-hand-holding-usd"></i> <span>INTEGRATION</span></h2>
                <li><a href="#"><i title="Apps" class="fa fa-list"></i> <span>My Apps</span></a></li>
                <li><a href="#"><i title="Tools" class="fa fa-file-contract"></i> <span>Email Tools</span></a></li>
            </ul>
        </section>
        <section>
            <ul>
                <h2><i class="fa fa-hand-holding-usd"></i> <span>BILLING</span></h2>
                <li><a href="/plans"><i title="Plans" class="fa fa-list"></i> <span>Manage plan</span></a></li>
                <li><a href="#"><i title="Invoices" class="fa fa-file-contract"></i> <span>Invoices</span></a></li>
                <li><a href="#"><i title="Credits" class="fa fa-money-check-alt"></i> <span>Buy Credits</span></a></li>
            </ul>
        </section>
    </nav>

    <script src="closeMenu.js"></script>