<%- include("./partials/header.ejs") %>

<div class="about">
    <h1>About us</h1>

    <p>Clean mail is an email validation and verification application, utilizing mailgun api to achieve the results. It also include API for integration into apps by developers 
        creating an easy and fast way to handle user email validation and authentication.
    </p>
    <p>
        The application is a development by ABEL OTEGBOLA having lots of experience in developing intuitive, modern and creative website projects.
        You can always contact him by going to the contact page <a href="/contacts">here</a>
    </p>
</div>


<%- include("./partials/footer.ejs") %>