<%- include("./partials/header.ejs") %>

 <%- include("./partials/nav.ejs") %>

        <aside class="box">
            <h1>Manage Plans</h1>
            <div class="para">
                <h3>
                    Plans
                </h3>
                
            </div>
        </aside>
    </div>

 <%- include("./partials/footer.ejs") %>
    