body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-top: 70px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    margin: 0;
    box-shadow: 0px 10px 30px rgb(228, 228, 228);
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    background-color: #fff;
    z-index: 10000;
}
.logo {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
header .logo img {
    margin-right: 10px;
}
header a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    margin: 15px;
}
header a.topButton {
    background: #0DDD79;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px 20px;
}
.main-nav-toggle {
    display: none;
    padding: 7px 10px;
    background-color: #0DDD79;
    color: #Fff;
    border: none;
    border-radius: 3px;
}
.container {
    display: flex;
    position: relative;
}
nav {
    background-color: #fff;
    color: rgb(93, 92, 92);
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 5px 0px 10px rgb(214, 213, 213);
}
nav.closed span{
    display: none;
}
nav.closed {
    width: 70px;
}
#menu-button {
    position: absolute;
    top: 10px;
    left: 15px;
    background: #0DDD79;
    border: none;
    padding: 3px 12px;
    border-radius: 3px;
}
#menu-button i {
    color: #fff;
    font-size: 14px;
}
nav a {
    text-decoration: none;
    color: rgb(93, 92, 92);
}
nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
nav h2 {
    padding: 0 15px;
    font-size: 18px;
}
nav h2.dash {
    padding: 10px 15px;
    background: #0DDD79;
    color: #Fff;
    border-radius: 5px;
    margin-bottom: -10px;
    margin-top: 35px;
}
nav ul li {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav ul li a {
    color: rgb(113, 113, 113);
    flex: 1;
    padding: 10px 12px;
}
nav ul li a:hover {
    background: #0DDD79;
    color: #fff;
    border-radius: 5px;
}
nav ul li a i {
    border: 1px solid #A8AEAE;
    border-radius: 5px;
    padding: 5px 7px;
}
nav ul li a:hover i {
    border-color: #fff;
}
nav section {
    padding: 5px 5px 10px 5px;
    margin: 0 5px;
    border-top: 1px solid rgb(248, 248, 250);
}
.home__heading {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.home__heading .home__heading--texts {
    margin-top: 5%;
}
.home__heading h1 {
    font-size: 50px;
    line-height: 20px;
}
.home__heading h4,
.home__features--texts h4 {
    font-size: 18px;
    font-weight: 500;
    color: #A8AEAE;
    max-width: 500px;
    line-height: 30px;
}
.home__heading a,
.home__features--texts a {
    text-decoration: none;
    padding: 13px 40px;
    background-color: #0DDD79;
    color: #Fff;
    border-radius: 5px;
}
.home__heading img {
    width: 50%;
}
.home__features {
    padding: 5%;
}
.home__features h2 {
    text-align: center;
}
.home__features .single__verify form {
    padding: 2px;
    border: 1px solid #cdcece;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}
.home__features .single__verify form input {
    background-color: #Fff;
    color: #000;
    border: none;
    padding: 12px;
}
.home__features .single__verify form button {
    background-color: #0DDD79;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 3px;
}
.home__features--texts h1 {
    font-size: 40px;
    line-height: 20px;
}
.home__features--single, .home__features--bulk {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
.home__features--single img {
    margin-right: 5%;
    width: 40%;
}
.home__features--bulk img {
    width: 50%;
}
.home__features--texts {
    margin-top: 5%;
}
aside {
    padding: 5px 5%;
    flex: 1;
}
aside h1 {
    font-size: 30px;
    color: #000;
}
aside .para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7%;
    width: 100%;
    height: 70%;
    color: #444;
}
aside .para h3 {
    line-height: 30px;
}
aside .para input {
    padding: 10px;
    border: 1px solid rgb(184, 174, 197);
    border-radius:  5px 0 0 5px;
    background: transparent;
    width: 250px;
}
aside .para button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background: #0DDD79;
    border: 1px solid rgb(184, 174, 197);
    margin-left: -5px;
    color: #fff;
    cursor: pointer;
    
}
aside .para button:hover {
    background: #0cbd68;
    
}
aside .msg {
    background-color: rgb(255, 255, 255);
    padding: 5px 0;
}
aside .msg p {
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(250, 5, 5);
    border: 1px solid rgb(250, 141, 141);
    border-radius: 8px;
}
aside .msg p i {
    float: right;
    color: rgb(248, 55, 55);
    cursor: pointer
}
.fa-plus {
    padding: 10px;
    margin: 10px;
    width: 85%;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(167, 151, 240);
    cursor: pointer;
    border-radius: 5px;
}
.fa-plus:hover {
    border: 1px solid #0DDD79;
    color: rgb(255, 255, 255);
    background: #0DDD79;
}
.fa-chevron-left {
    padding: 8px 15px;
    text-decoration: none;
    border: 1px solid rgb(184, 178, 202);
    border-radius: 3px;
    float: right;
    margin: -6% 0 20px 0;
    color: rgb(184, 178, 202);
} 
.fa-upload {
    padding: 8px;
    text-decoration: none;
    border: 1px solid rgb(184, 178, 202);
    background: #0DDD79;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}
#save {
    margin: 20px 5px;
    border: 1px solid #0DDD79;
    color: #0DDD79;
    border-radius: 3px;
    padding: 10px 3px 10px 5px;
    word-spacing: 10px;
    cursor: pointer;
}
#save:hover {
    background: #0DDD79;
    color: #fff;
}
.emailInputs {
    display: flex;
    flex-direction: column;
}
.emailInputs input {
    margin: 10px;
}
aside.box.bulk form {
    text-align: center;
}
aside.box.bulk form button {
    width: 93%;
    margin: 10px;
}
table {
    width: 100%;
}
table,th,td {
    border: 1px solid rgb(186, 186, 186);
    border-collapse: collapse;
    padding: 20px 30px;
    margin: 20px 0;
}
.green {
    background: rgb(150, 247, 158);
}
.red {
    background: rgb(248, 211, 211);
}
.white {
    background: #fff;
}
td:nth-child(5) {
    text-align: center;
}
td:nth-child(5) i {
    cursor: pointer;
}
.about,.contacts {
    padding: 5%;
}
.contacts .contact-box {
    display: flex;
    padding: 5% 0;
}
.contacts .contact-box .messaging {
    flex: 1;
    padding: 3% 5% 5% 3%;
    background: #0DDD79;
    color: #fff;
}
.contacts .contact-box .messaging i {
    color: #fff;
    border-color: #fff;
}
.contacts h3 {
    margin-top: 0;
}
.contacts .contact-box form {
    width: 30%;
    border: 1px solid #d1d1d1;
    padding: 3% 5% 5% 3%;
}
.contacts form input, .contacts form textarea {
    padding: 10px;
    border: 1px solid #A8AEAE;
    width: 100%;
    margin: 0;
    outline: none ;
    border-radius: 5px;
}
.contacts form input:focus, .contacts form textarea:focus {
    border: 1px solid #0DDD79;
}
.contacts form textarea {
    height: 100px;
}
.contacts form i {
    color: #0DDD79;
}

footer {
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #eef9f1;
}
footer h3 {
    text-transform: uppercase;
}
footer .logo {
    width: 100%;
}
footer .logo img {
    margin-right: 10px;
}
footer .nav {
    width: 24%;
    margin-top: 20px;
}
footer .nav ul {
    padding: 0;
    margin: 0;
}
footer .nav li {
    list-style-type: none;
    padding: 12px 0;
}
footer .nav a {
    text-decoration: none;
    width: 100%;
    color: #444;
    font-weight: 600;
    padding: 10px 0;
}
footer .nav a:hover {
    color: #0DDD79;
}
footer .nav p {
    padding: 5px 0;
}
footer i, .contact i, .socials a i {
    margin-right: 6px;
    padding: 5px 7px;
    color: #444;
    border: 1px solid #A8AEAE;
    border-radius: 5px;
}
.socials a:hover i {
    color: #0DDD79;
    border-color: #0DDD79;
}


@media screen and (max-width:1200px) {
    nav {
        width: 300px;
    }
}
@media screen and (max-width:980px) {
    .home__heading .home__heading--texts {
        width: 40%;
    }
    .home__heading h1{
        font-size: 40px;
    }
    .home__heading .home__heading--texts h4 {
        font-size: 16px;
    }
}
@media screen and (max-width: 900px) {
    .main-nav-toggle {
        display: block;
        z-index: 1000;
    }
    .navbar__menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 75%;
        height: 100%;
        padding: 5%;
        right: 0;
        top: 0;
        background: #fff;
        z-index: 10;
    }
    .navbar__menu {
        display: none;
    }
    .navbar__menu.open {
        display:flex;
    }
    .fa-arrow-right {
        display: block;
        padding: 10px;
        width: 15px;
        margin: 20px;
        color: #fff;
        background: rgb(149, 147, 156);
        border: 1px solid #0DDD79;
    }
    nav {
        width: 70px;
    }
    nav span {
        display: none;
    }
    nav.close-mobile {
        display: none;
    }
    .home__heading, .home__features--single, .home__features--bulk {
        flex-wrap: wrap;
    }
    .home__heading .home__heading--texts,
    .home__features .home__features--texts {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .home__heading--texts h4 {
        margin: auto;
        margin-bottom: 30px;
    }
    .home__heading img {
        width: 70%;
        margin: auto;
    }
    .home__features--texts h4 {
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }
    .home__features--single img {
        margin: auto;
        width: 70%;
    }
    .home__features .single__verify form  {
        justify-content: center;
        margin: auto;
    }
    .home__features--bulk img {
        order: 2;
        margin: auto;
        width: 70%;
        margin-top: 20px;
    }
    .home__heading img {
        margin-top: 50px;
    }
    pre {
        margin: 0;
    }
    aside img, aside pre {
        width: 90%;
    }
    aside h1 {
        font-size: 18px;
        margin-top: 30px;
    }
    aside .para h3 {
        font-size: 14px;
        line-height: 20px;
    }
    aside .para input {
        width: 50%;
    }
    footer {
        padding: 10%;
    }
    footer .nav {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .contacts .contact-box {
        flex-wrap: wrap;
    }
    .contacts .contact-box form,
    .contacts .contact-box .messaging {
        width: 100%;
    }
    .contacts .contact-box form input,
    .contacts .contact-box form textarea {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    .home__heading h1, .home__features--texts h1 {
        font-size: 20px;
    }
}
